body
{
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    background: #ECEEF1;
}


#nav-bar
{

    align-content: flex-end;
    align-items: flex-end;
    float: right;
}

.icons
{
    width: 20px;
}


#fieldset1
{
    background: white;
    border-radius: 8px;
    border:1px solid #c7c7c7;
    display: inline-block;
    padding: 3%;


}

.form-item
{
    margin-top: 2%; 
}

a
{
    text-decoration: none;
}

#main-container
{
    padding-top: 7%;

    text-align: center;
    align-items: center;
    align-content: center;
    
    
}


#top-right-container1
{
    float: left;
    margin-right: 10px;
}

#top-right-container2
{
    float: right;
    margin-top: 10%;

}


#title
{
    display: inline-flex;
}


