body
{
    text-align: center;
    background: #ECEEF1;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

label
{
    text-align: start;
}

.top-container
{

    float: right;
    align-content: center;
}

#top-right-container1
{
    float: left;
    margin-right: 10px;
}

#top-right-container2
{
    float: right;
    margin-top: 10%;

}


.icons
{
    width: 20px;
}

#title
{
    margin: auto;
}


#div-form
{
    
    
}

#fieldset1
{
    display: inline-block;
    padding: 30px;
    background: white;
    border-radius: 8px;
    border:1px solid #c7c7c7;
}

.form-item
{
    margin-top: 6%;
    display: block;
    align-content: center;
}



#lista-logos
{
    list-style-type: none;
}


#form-info-div
{
    margin-bottom: 8%;
}



#footer-div
{
    margin-top: 2%;
}

a
{
    text-decoration: none;
}


.hyper-logos
{
    color: grey;
}

li
{
    float: left;
    margin-left: 1%;
}

.logo-div
{

    float: left;
}

#main-container
{
    
}

